**/package-lock.json

# dependencies
.idea
**/node_modules/*

**/.firebaserc

# misc
*/npm-debug.log
lerna-debug.log
*.log

# System Files
.DS_Store
Thumbs.db

service-account-credentials.json
service-account.json
**/package-lock.json
